body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #1a1a1a;
  --bg-primary: #fff;
  --bg-secondary: #f9f9f9;
  --main-accent: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --dark-blue: #001529;
}

a {
  color: inherit !important;
  text-decoration: none;
}
a:hover {
  color: var(--main-accent) !important;
}

.navbar-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: var(--dark-blue);
  width: 100%;
  max-width: 300px;
  /* width: 300px; */
}
.app {
  display: flex;
}
.navbar {
  width: 22%;
  height: 100vh;
  position: relative;
}
.main {
  width: calc(100% - (22% + 50px));
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-crypto {
  margin: 20px auto;
  width: 300px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  color: var(--main-accent);
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  opacity: .9;
  padding: 20px;
  border-bottom: 1px solid var(--light-blue);
}
.coin-stats-name {
  display: flex;
  gap: 10px;
}

.coin-detail-container {
  margin-top: 30px;
}
.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--light-blue);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  margin-bottom: 30px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--main-accent);
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.ant-menu-item.ant-menu-item-selected.active-menu-item, .ant-menu-item.active-menu-item {
  background-color: #1677ff; 
}